$check-icon-c: -171px -326px 22px 22px;
$check-icon-s: -367px -321px 18px 18px;
$customer: -119px -159px 55px 55px;
$default-avator: -1px -159px 60px 60px;
$favouriteShop: -48px -221px 45px 45px;
$good-atti-active: -262px -221px 35px 35px;
$good-atti: -225px -221px 35px 35px;
$gp-mark: -56px -351px 17px 13px;
$gp-share: -1px -369px 16px 14px;
$gp-unmark: -389px -17px 15px 14px;
$help: -367px -221px 18px 18px;
$icon-all: -228px -134px 22px 21px;
$icon-arr-down: -367px -341px 14px 7px;
$icon-arr-down1: -316px -289px 14px 7px;
$icon-arr-right: -389px -97px 10px 18px;
$icon-arrow-active: -83px -146px 15px 11px;
$icon-arrow-top: -183px -221px 40px 40px;
$icon-attent: -316px -55px 24px 24px;
$icon-attention: -316px -81px 24px 24px;
$icon-buy: -1px -326px 23px 23px;
$icon-checked: -296px -268px 17px 17px;
$icon-clear: -321px -326px 16px 16px;
$icon-collect: -166px -268px 24px 24px;
$icon-comment-empty: -176px -159px 50px 50px;
$icon-comment: -389px -147px 13px 13px;
$icon-d1: -367px -113px 20px 20px;
$icon-d2: -367px -179px 18px 20px;
$icon-d3: -367px -1px 20px 23px;
$icon-d4: -175px -124px 20px 15px;
$icon-del: -389px -277px 12px 11px;
$icon-dialog-active: -303px -326px 16px 16px;
$icon-dialog-big: -195px -326px 22px 22px;
$icon-dialog-grey: -339px -326px 16px 16px;
$icon-dialog-right: -280px -300px 21px 22px;
$icon-down: -252px -192px 9px 12px;
$icon-evaluation: -316px -237px 24px 24px;
$icon-exclusive: -316px -263px 24px 24px;
$icon-fav-active: -389px -329px 11px 11px;
$icon-fav-big: -389px -221px 13px 13px;
$icon-fav-small: -389px -342px 11px 11px;
$icon-fav-white: -389px -355px 11px 11px;
$icon-fav: -389px -206px 13px 13px;
$icon-favourites-active: -389px -302px 12px 11px;
$icon-favourites-grey: -389px -290px 12px 11px;
$icon-filter-active: -367px -157px 19px 20px;
$icon-filter-grey: -367px -135px 19px 20px;
$icon-good-active: -389px -263px 13px 12px;
$icon-good: -389px -250px 13px 12px;
$icon-group: -27px -300px 24px 24px;
$icon-groups-active: -219px -326px 22px 22px;
$icon-groups: -99px -326px 22px 22px;
$icon-home-active: -343px -208px 22px 22px;
$icon-home: -123px -326px 22px 22px;
$icon-home1: -1px -268px 30px 30px;
$icon-home2: -1px -221px 45px 45px;
$icon-home3: -264px -105px 45px 45px;
$icon-home4: -264px -152px 45px 45px;
$icon-home5: -150px -77px 45px 45px;
$icon-info-m: -228px -159px 30px 31px;
$icon-info: -257px -300px 21px 22px;
$icon-loading: -1px -351px 16px 16px;
$icon-loading1: -299px -239px 15px 15px;
$icon-login-error: -389px -81px 14px 14px;
$icon-login1: -343px -232px 22px 22px;
$icon-login2: -243px -326px 22px 22px;
$icon-login3: -228px -192px 22px 16px;
$icon-member: -389px -33px 14px 14px;
$icon-message-center: -95px -221px 42px 42px;
$icon-msg: -114px -268px 24px 24px;
$icon-nav1: -343px -54px 22px 25px;
$icon-nav10: -150px -124px 23px 18px;
$icon-nav11: -343px -181px 20px 25px;
$icon-nav12: -343px -81px 22px 24px;
$icon-nav13: -343px -156px 22px 23px;
$icon-nav14: -79px -300px 25px 22px;
$icon-nav15: -343px -106px 22px 24px;
$icon-nav16: -62px -268px 24px 24px;
$icon-nav17: -316px -28px 25px 25px;
$icon-nav18: -33px -268px 27px 24px;
$icon-nav19: -53px -300px 24px 23px;
$icon-nav2: -132px -300px 24px 22px;
$icon-nav20: -316px -211px 24px 24px;
$icon-nav21: -316px -185px 24px 24px;
$icon-nav22: -316px -159px 24px 24px;
$icon-nav23: -316px -133px 24px 24px;
$icon-nav24: -343px -1px 23px 24px;
$icon-nav3: -234px -300px 22px 22px;
$icon-nav4: -209px -300px 23px 22px;
$icon-nav5: -106px -300px 24px 22px;
$icon-nav6: -316px -107px 24px 24px;
$icon-nav7: -197px -134px 29px 21px;
$icon-nav8: -343px -132px 23px 22px;
$icon-nav9: -343px -27px 22px 25px;
$icon-news-active: -147px -326px 22px 22px;
$icon-news: -343px -256px 22px 22px;
$icon-noarticle: -197px -1px 65px 65px;
$icon-nosearch: -83px -77px 65px 67px;
$icon-over: -1px -1px 96px 75px;
$icon-pdr: -19px -351px 16px 15px;
$icon-practice-code: -244px -268px 24px 24px;
$icon-qq: -218px -268px 24px 24px;
$icon-qrcode-save: -389px -368px 11px 11px;
$icon-qrcode: -140px -268px 24px 24px;
$icon-report: -75px -351px 15px 13px;
$icon-sad: -197px -68px 64px 64px;
$icon-search-blue: -367px -69px 20px 20px;
$icon-search-bule: -367px -91px 20px 20px;
$icon-search: -285px -326px 16px 17px;
$icon-self: -37px -351px 17px 14px;
$icon-sell: -26px -326px 23px 23px;
$icon-service: -316px -1px 25px 25px;
$icon-setimg-touch: -157px -300px 24px 22px;
$icon-setimg: -183px -300px 24px 22px;
$icon-share-blue: -343px -304px 22px 19px;
$icon-share-detail: -389px -192px 14px 12px;
$icon-share-shop: -293px -199px 21px 18px;
$icon-shop-info: -270px -268px 24px 24px;
$icon-shops-active: -51px -326px 22px 22px;
$icon-shops: -343px -280px 22px 22px;
$icon-small-fav: -389px -235px 13px 13px;
$icon-small-fund: -389px -177px 13px 13px;
$icon-small-yield: -389px -315px 11px 12px;
$icon-star1: -100px -146px 11px 10px;
$icon-star2: -112px -146px 11px 10px;
$icon-tel: -192px -268px 24px 24px;
$icon-tgu: -303px -300px 23px 13px;
$icon-tips: -389px -49px 14px 14px;
$icon-toast-succ: -367px -47px 20px 20px;
$icon-toast-warn: -367px -25px 20px 20px;
$icon-top: -252px -134px 9px 12px;
$icon-uncheck: -266px -326px 17px 17px;
$icon-username: -299px -221px 15px 16px;
$icon-vcode: -389px -1px 15px 15px;
$icon-warn: -389px -65px 14px 14px;
$icon-weixin: -88px -268px 24px 24px;
$icon-ying: -389px -117px 13px 13px;
$icon-yushou: -99px -1px 96px 74px;
$icon-zcollect: -367px -301px 18px 18px;
$icon-zcollect1: -367px -241px 18px 18px;
$icon-zshare: -367px -261px 18px 18px;
$message-tips: -1px -77px 80px 80px;
$more-tab: -389px -132px 13px 13px;
$msg-shop: -139px -221px 42px 42px;
$msg: -264px -199px 27px 20px;
$page-close: -125px -146px 10px 10px;
$phone: -1px -300px 24px 24px;
$specialShop: -63px -159px 55px 55px;
$tab-close: -389px -162px 13px 13px;
$transfer: -367px -201px 19px 19px;
$uncheck-icon-c: -75px -326px 22px 22px;
$uncheck-icon-s: -367px -281px 18px 18px;
$wechat-circle: -264px -1px 50px 50px;
$weichat-friends: -264px -53px 50px 50px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../assets/images/sprite.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon {
    background-image: url('../assets/images/sprite@2x.png');
    background-size: 405px 385px;
  }
}
